@charset "UTF-8";
/* CSS Document */

html {
	background: url(http://www.egodecal.com/images/liberty_1366.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin:0;
	padding:0;
	font-family:arial;
}

#container{
	width:800px;
	margin: 200px auto 0;
}
#strip{
	z-index:-1;
	width:100%;
	height:150px;
	position:absolute;
	margin-top:100px;
}
#strip_head{
	margin-left:20px;
	float:left;
	color:white;
	font-size:60px;
	font-family: 'Poiret One', cursive;
}
#strip_description{
	margin-top:30px;
	margin-left:30px;
	floar:left;
	font-size:24px;
	color:white;
	font-family: 'Poiret One', cursive;
}
#strip_content{
	padding-top:10px;
	padding-left:20px;
	position:absolute;
	z-index:-2;
	width:100%;
	height:150px;
}
#strip_overlay{
	position:absolute;
	z-index:-3;
	width:100%;
	height:150px;
	background-color:#000000;
	opacity:0.5;
}
#login_description{
	font-size:12px;
}
#login_form{
	position:relative;
	float:right;
	width:300px;
	height:300px;
	background: #f0f0f0;
	border: 1px solid white;
	padding: 1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#signup_form{
	position:relative;
	float:right;
	width:320px;
	height:500px;
	background: #f0f0f0;
	border: 1px solid white;
	padding: 1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

h1, h2, h3, h4, h5{
	margin-top: 0;
	font-family: 'Antic Slab', serif;
	color:#c76337;
	text-align: center;
}

h1{
	font-size:24px;
}


input[type=text], input[type=password] {
	display:block;
	margin:0 0 1em 0;
	width:280px;
	border:5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 1em;
}

input[type=submit], form a {
	border:none;
	margin-right:1em;
	padding:6px;
	text-decoration: none;
	font-size:12px;
	background: #348075;
	color:white; 
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
}

input[type=submit]:hover, form a:hover{
	background: #287368;
	cursor: pointer;
}

.error{
	color:#393939;
	font-size:15px;
}

fieldset{
	width:300px;
	margin:auto;
	margin-bottom:2em;
	display:block;
}

h1{
	text-shadow:0 1px 0 white;
} 

